:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}


.signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.signup__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    border: 1px solid lightgray;
}

.signup__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.signup__container > form > h5 {
    margin-bottom: 5px;
}

.signup__container > form > input {
    height: 30px;
    background-color: white;
    width: 97%;
}

.signup__logo {
    width: 100px;
    object-fit: contain;
    margin: 20px;
}

.signup__signupButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 97%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}